node_modules
.next
out
.DS_Store
*.log
.env*

# iOS
ios/App/App/public/
ios/App/Pods/
ios/App/build/
ios/App/DerivedData/
ios/.build/
ios/App/Podfile.lock
ios/App/App.xcworkspace/xcuserdata/
ios/App/App.xcodeproj/xcuserdata/
ios/App/App.xcodeproj/project.xcworkspace/xcuserdata/

# Android
android/.gradle/
android/.idea/
android/build/
android/app/build/
android/app/release/
android/local.properties
android/capacitor-cordova-android-plugins/
*.keystore
*.jks
